<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %> (<%= @users.count %>)</h3>
    <div class="follows">
      <ul><%= render @users %></ul>
    </div>
  </div>
</div>